<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" style="font-style: italic">
      <img src="assets/imagenes/BarraLateral.png" alt="Image" style="max-width:5%;width:auto;height:auto; border-radius: 20px; margin-left: 15px">
         YOURTUBE.GT
    </a>
    <form class="d-flex m-auto">
      <input class="form-control" size="100%" type="" placeholder="Buscar" aria-label="">
      <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
      <button class="btn btn-dark" type="submit"><ion-icon name="mic"></ion-icon>
      </button>
    </form>

    <button class="btn btn-dark" type="submit" style="border-radius: 40px;"> <ion-icon name="camera"></ion-icon></button>
    <button class="btn btn-dark" type="submit"style="border-radius: 40px;margin-left: 15px"> <ion-icon name="apps"></ion-icon></button>
    <button class="btn btn-dark" type="submit" style="border-radius: 40px; margin-left: 15px"><ion-icon name="notifications-outline"></ion-icon></button>
    <span><img src="assets/imagenes/Logoletra.jpg" alt="Image" type="button" style="max-width:40%;width:auto;height:auto; border-radius: 40px; margin-left: 15px"></span>


  </div>
</nav>
