
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
<!-- Remove the container if you want to extend the Footer to full width. -->
<hr class="bg-light">
<div class="">
  <!-- Footer -->

  <footer class="text-center text-lg-start text-dark" style="background-color: #DED8D8">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-between p-4 text-white" style="background-color: #282C31">
      <!-- Left -->
      <div class="me-5" class="text-left">
        <span> <img src="assets/imagenes/logo1.jpg" alt="LogoUnivision" style="max-width:25%;width:auto;height:auto; border-radius: 20px;">UnivisionAutos 435.000 suscriptores <img src="assets/imagenes/suscribirme.png" alt="LogoUnivision" type="button" style="max-width:10%;width:auto;height:auto; border-radius: 20px;"></span>
        <p align="justify" class="col-4">
          La Tesla Cybertruck es la pickup del momento, con especificaciones alucinantes y, a la vez, controversiales. Según el fabricante, esta pickup eléctrica es tan potente que puede superar en velocidad a uno de los deportivos más emblemáticos de la historia, el Porsche 911. ¿Puede ser esto posible? Aquí comparamos las prestaciones de ambos modelos.
        </p>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <span>YouTube</span>
        <a href="" class="text-white me-4">
          <i class="fab fa-youtube"></i>
        </a>

      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-left text-md-start mt-5">
        <!-- Grid row -->
        <div class="row">
          <!-- Grid column -->
          <div class="col-2">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">1145 comentarios</h6>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; background-color: #7c4dff; height: 2px"/>
            <span> <img src="assets/imagenes/hector.jpg" alt="hectorIbanez" style="max-width:20%;width:auto;height:auto; border-radius: 20px;"> </span>
          </div>
          <div class="col-10">
            <br><br>
            <p align="justify">Hector Ibañez: <br>Cuando tienes flojera de dibujar a pulso y lo haces con regla</p>
          </div>
          <!-- Grid column -->
          <div class="col-2">
          <!-- Content -->
          <br>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; background-color: #7c4dff; height: 2px"/>
          <span> <img src="assets/imagenes/jaime.jpg" alt="JaimeGabaldoni" style="max-width:20%;width:auto;height:auto; border-radius: 20px;"> </span>
        </div>
          <div class="col-10">
            <br><br>
            <p align="justify">Jaime Gabaldoni: <br>Elon y su equipo son GENIOS! Olvidense del producto, como han manejado a los medios de comunicacion durante los ultimos 7 dias...mis respetos!</p>
          </div>
          <div class="col-2">
            <!-- Content -->
            <br>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; background-color: #7c4dff; height: 2px"/>
            <span> <img src="assets/imagenes/Cr1stian.jpg" alt="Cr1stian" style="max-width:20%;width:auto;height:auto; border-radius: 20px;"> </span>
          </div>
          <div class="col-10">
            <br><br>
            <p align="justify">Cr1stian: <br>Ese weon del elon Musk le bajó los gráficos a esa camioneta pa que fuera más rápida
            </p>
          </div>
          <div class="col-2">
            <!-- Content -->
            <br>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; background-color: #7c4dff; height: 2px"/>
            <span> <img src="assets/imagenes/mostazanik.jpg" alt="mostazanik" style="max-width:20%;width:auto;height:auto; border-radius: 20px;"> </span>
          </div>
          <div class="col-10">
            <br><br>
            <p align="justify">mostazanik: <br>Obvio que va a ser mas rapido, si tiene los graficos en minimo xD</p>
          </div>
          <div class="col-2">
            <!-- Content -->
            <br>
            <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 160px; background-color: #7c4dff; height: 2px"/>
            <span> <img src="assets/imagenes/01111.jpg" alt="01111" style="max-width:20%;width:auto;height:auto; border-radius: 20px;"> </span>
          </div>
          <div class="col-10">
            <br><br>
            <p align="justify">
              01000001 01101110 01101111 01101110 01001101 01011: <br>Es muy simple, un auto eléctrico tiene todo el torque disponible desde que presionas el acelerador.</p>
          </div>
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/"> Youtube </a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>
<!-- End of .container -->
